@import url("https://arboox-web.glitch.me/style.css");

a {
  text-decoration: none;
  transition: linear 100ms;
}

a:hover {
  transform: scale(0.9);
  transition: linear 100ms;
}

.material-icons-round {
  transition: linear 100ms;
}

.material-icons-round:hover {
  transform: scale(0.9);
  transition: linear 100ms;
}

.experience_card {
  transition: linear 100ms;
}

.row-item {
  transition: linear 100ms;
  cursor: pointer;
}

.row-item:hover {
  transition: linear 100ms;
  transform: scale(0.98);
}

.story_card {
  transition: linear 100ms;
}

.story_card:hover {
  transition: linear 100ms;
  transform: scale(0.9);
}

.animate-reveal {
  opacity: 0;
  -webkit-animation: reveal 0.6s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  animation: reveal 0.6s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}

.animate-second {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
