@import url("https://snapnet-cdn.storage.googleapis.com/fonts/avenir-next/avenirnext.font.css");

    #carbonads * {
  margin: initial;
  padding: initial;
}
#carbonads {
  font-family: 'Avenir Next', system-ui;
}
#carbonads {
  display: flex;
  width: 300px;
  height: 140px;
  background-color: #0094FF;
  filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
      -webkit-filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
      -moz-filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
      -ms-filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
      -o-filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
  z-index: 100;
  border-radius: 24px;
}
#carbonads a {
  color: inherit;
  text-decoration: none;
}
#carbonads a:hover {
  color: inherit;
}
#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}
#carbonads .carbon-wrap {
  display: flex;
}
#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}
#carbonads .carbon-img img {
  display: block;
  border-top-left-radius: 24px;
}
#carbonads .carbon-text {
  font-size: 13px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: left;
  color: #F0F0F0;
}
#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: #F0F0F0;
  color: #222222;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 24px;
}
