@import url("https://snapnet-cdn.storage.googleapis.com/fonts/avenir-next/avenirnext.font.css");

@import url("https://arboox-web.glitch.me/style.css");

@font-face {
    font-family: 'UniversalSans';
    src: url('https://cdn.glitch.com/99f47cc5-a3af-41bd-9426-43d887207b59%2FUniversalSans-450.woff2?v=1622925742636') format('woff2'),
        url('https://cdn.glitch.com/99f47cc5-a3af-41bd-9426-43d887207b59%2FUniversalSans-450.woff?v=1622925742723') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UniversalSans';
    src: url('https://cdn.glitch.com/99f47cc5-a3af-41bd-9426-43d887207b59%2FUniversalSans-570.woff2?v=1622926460618') format('woff2'),
        url('https://cdn.glitch.com/99f47cc5-a3af-41bd-9426-43d887207b59%2FUniversalSans-570.woff2?v=1622926460618') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UniversalSans';
    src: url('https://cdn.glitch.com/99f47cc5-a3af-41bd-9426-43d887207b59%2FUniversalSans-660.woff2?v=1622926459933') format('woff2'),
        url('https://cdn.glitch.com/99f47cc5-a3af-41bd-9426-43d887207b59%2FUniversalSans-660.woff?v=1622926460861') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UniversalSans';
    src: url('https://cdn.glitch.com/99f47cc5-a3af-41bd-9426-43d887207b59%2FUniversalSans-800.woff2?v=1622926460122') format('woff2'),
        url('https://cdn.glitch.com/99f47cc5-a3af-41bd-9426-43d887207b59%2FUniversalSans-800.woff2?v=1622926460122') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

#carbonads {
  font-family: "Neurial Grotesk", system-ui;
}
#carbonads {
  display: flex;
  max-width: 330px;
  background-color: #FAFAFA;
  filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.10));
  -webkit-filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.10));
  -moz-filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.10));
  -ms-filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.10));
  -o-filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.10));
  z-index: 100;
  border-radius: 16px;
}
#carbonads a {
  color: inherit;
  text-decoration: none;
}
#carbonads a:hover {
  color: inherit;
}
#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}
#carbonads .carbon-wrap {
  display: flex;
}
#carbonads .carbon-img {
  margin: 0;
  line-height: 1;
  border-radius: 12px;
}
#carbonads .carbon-img img {
  display: visible;
  padding: 12px;
  border-radius: 10px;
}
#carbonads .carbon-text {
  font-size: 13px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: left;
}
#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: #f1f1f2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}

a {
  text-decoration: none;
  transition: linear 100ms;
}

a:hover {
  transform: scale(0.9);
  transition: linear 100ms;
}

.material-icons-round {
  transition: linear 100ms;
}

.material-icons-round:hover {
  transform: scale(0.9);
  transition: linear 100ms;
}

.ab-text-logo {
  transition: linear 100ms;
}

.ab_text_logo:hover {
  transform: scale(0.9);
  transition: linear 100ms;
}

.experience_card {
  transition: linear 100ms;
}

.experience_card:hover {
  transition: linear 100ms;
  transform: scale(0.96);
}

.nav {
  transition: linear 100ms;
}

.nav:hover {
  transform: scale(0.9);
  transition: linear 100ms;
}

.popular-shop {
  transition: linear 100ms;
}

.popular-shop:hover {
  transform: scale(0.9);
  transition: linear 100ms;
}

.product-call-to-action {
  transition: linear 100ms;
}

.product-call-to-action:hover {
  transition: linear 100ms;
  transform: scale(1.1);
}

.row-item {
  transition: linear 100ms;
  cursor: pointer;
}

.row-item:hover {
  transition: linear 100ms;
  transform: scale(1.08);
  filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
}

.bite_card {
  transition: linear 100ms;
}

.bite_card:hover {
  transition: linear 100ms;
  transform: scale(0.9);
}

.story_card {
  transition: linear 100ms;
}

.story_card:hover {
  transition: linear 100ms;
  transform: scale(0.9);
}

.animate-reveal {
  opacity: 0;
  -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  -moz-animation: reveal 1s ease-in 1 normal forwards;
  -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
  animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate-first {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}

.animate-second {
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-moz-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
