@import url("https://snapnet-cdn.storage.googleapis.com/fonts/avenir-next/avenirnext.font.css");

#carbonads {
  font-family: 'Avenir Next', system-ui;
}
#carbonads {
  display: flex;
  max-width: 330px;
  background-color: #FAFAFA;
   filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
      -webkit-filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
      -moz-filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
      -ms-filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
      -o-filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
  z-index: 100;
  border-radius: 16px;
}
#carbonads a {
  color: inherit;
  text-decoration: none;
}
#carbonads a:hover {
  color: inherit;
}
#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}
#carbonads .carbon-wrap {
  display: flex;
}
#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
  border-radius: 10px;
}
#carbonads .carbon-img img {
  display: visible;
  padding: 12px;
  border-radius: 10px;
}
#carbonads .carbon-text {
  font-size: 13px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: left;
}
#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: #f1f1f2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}

a {
  text-decoration: none;
  transition: linear 100ms;
}

a:hover {
  transform: scale(0.9);
  transition: linear 100ms;
}

.material-icons-round {
    transition: linear 100ms;
}

.material-icons-round:hover {
  transform: scale(0.9);
  transition: linear 100ms;
}

.ab-text-logo {
  transition: linear 100ms;
}

.ab_text_logo:hover {
  transform: scale(0.9);
  transition: linear 100ms;
}

.experience_card {
  transition: linear 100ms;
}

.experience_card:hover {
  transition: linear 100ms;
  transform: scale(0.9)
}

.nav {
  transition: linear 100ms;
}

.nav:hover {
  transform: scale(0.9);
  transition: linear 100ms;
}

.popular-shop {
  transition: linear 100ms;
}

.popular-shop:hover {
  transform: scale(0.9);
  transition: linear 100ms;
}

.product-call-to-action {
  transition: linear 100ms;
}

.product-call-to-action:hover {
  transition: linear 100ms;
  transform: scale(1.1);
}

.row-item {
  transition: linear 100ms;
  cursor: pointer;
}

.row-item:hover {
  transition: linear 100ms;
  transform: scale(1.08);
  filter: drop-shadow(0px 20px 30px rgba(0, 0, 0, 0.15));
}
